<h2 class="center">S'inscrire</h2>
<form autocomplete="off" class="form" [formGroup]="signupForm" (ngSubmit)="submit()">
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mot de passe</mat-label>
    <input matInput type="password" formControlName="password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Comfirmer le mot de passe</mat-label>
    <input matInput type="password" formControlName="comfirmPassword">
  </mat-form-field>
  <div class="button">
    <button mat-button [routerLink]="['/login', 'signin']" >
      S'inscrire
    </button>
    <button color="primary" type="submit" mat-raised-button>
      Se connecter
    </button>
  </div>
</form>
