<h1>{{ action }} votre projet</h1>
<mat-dialog-content class="mat-typography">
  <mat-form-field class="full">
    <input matInput type="text" [(ngModel)]="label" placeholder="Nom de votre workspace">
  </mat-form-field>

  <div class="drop-box">
    {{ cover || 'Choisissez une couverture' }}
    <div class="image-container" (click)="fileUpload.click()">
      <img class="cover" *ngIf="coverContent; else upload" [src]="coverContent" alt="Project cover image"/>
      <button *ngIf="coverContent" class="hover-image" mat-mini-fab color="primary" >
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>
  </div>

  <div class="buttons full">
    <button *ngIf="!emoji" mat-icon-button [matMenuTriggerFor]="emojiPicker" #menu>
      <mat-icon >emoji_emotions</mat-icon>
    </button>
    <button class="emoji" *ngIf="emoji" mat-button [matMenuTriggerFor]="emojiPicker" #menu>
      {{ emoji }}
    </button>

    <button [(colorPicker)]="color" cpPosition="top" mat-raised-button [ngStyle]="{
      'background-color': color,
      'color': '#fff'
    }">
      <mat-icon>color_lens</mat-icon>
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    Anuller
  </button>
  <button color="primary" mat-raised-button (click)="onSubmit()" [disabled]="!label">
    {{ action }}
  </button>
</mat-dialog-actions>

<mat-menu #emojiPicker="matMenu" class="emoji-picker">
  <emoji-mart class="emoji-picker"
    (click)="$event.stopPropagation()"
    title="Pick your emoji…"
    emoji="point_up"
    (emojiClick)="selectEmoji($event)"
  ></emoji-mart>
</mat-menu>

<ng-template #upload>
  <button mat-mini-fab color="primary">
    <mat-icon>attach_file</mat-icon>
  </button>
</ng-template>


<input type="file" class="file-input"
    accept="image/*"
    (change)="uploadFile($event)" #fileUpload>
