.item {
  margin-top: 2em;
  @extend .full-width;
  .type {
    font-size: 2em;
  }
}

.file-input {
  display: none;
}

.first-line {
  display: flex;
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.file-name {
  margin-top: 2em;
  font-size: 1.1em;
  font-style: italic;
}
