<h1 mat-dialog-title>Inviter des colaborateurs</h1>
<mat-dialog-content class="mat-typography">
  <mat-form-field class="full">
    <input matInput type="text" [ngModel]="name" (ngModelChange)="updateName($event)" placeholder="Nom de votre colaborateurs">
    <mat-hint *ngIf="!valid && name !== ''" color="warn" align="end">Le compte '{{ name }}' n'existe pas.</mat-hint>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    Anuller
  </button>
  <button color="primary" mat-raised-button (click)="onSubmit()" [disabled]="!valid">
    Inviter
  </button>
</mat-dialog-actions>
