@mixin form {
  .center {
    text-align: center;
  }
  .form {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 0.5em;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

@include form();
