<app-header *ngIf="project" [project]="project"></app-header>
<mat-grid-list *ngIf="project" class="project-page" cols="2">
  <mat-grid-tile>
    <app-import-side class="full-width" [project]="project"></app-import-side>
  </mat-grid-tile>
  <mat-divider vertical="true"></mat-divider>
  <mat-grid-tile>
    <app-report-side class="full-width" [project]="project"></app-report-side>
  </mat-grid-tile>
</mat-grid-list>

<div class="down-right">
  <app-add-project [workspace]="workspace" [project]="project" mode="edit"></app-add-project>
</div>
