.full-width {
  width: 100%;
}

mat-grid-list ::ng-deep .mat-grid-tile-content{
  max-height: 70vh;
}

.down-right {
  position: absolute;
  right: 1em;
  bottom: 1em;
  > * {
    margin: 0.5em;
  }
}
