.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  .static-field {
    font-weight: bold;
    .value {
      font-weight: lighter;
      font-style: italic;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  flex-direction: row-reverse;
}
