<div class="card-container">
  <mat-card class="cards" *ngIf="user">
    <mat-card-header class="header">
      <h1>Votre Profile</h1>
    </mat-card-header>
    <mat-card-content class="content" *ngIf="!isEdit; else editProfil">
      <span class="static-field">Votre nom: <span class="value">{{ user?.name }}</span></span>
      <span class="static-field">Votre email: <span class="value">{{ user?.email }}</span></span>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button *ngIf="!isEdit; else saveOrCancel"
        mat-raised-button
        color="accent"
        (click)="isEdit = true">
        Editer le profile
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #editProfil>
  <mat-card-content class="content" *ngIf="user">
    <form [formGroup]="editProfilForm">
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput autocomplete="off" [value]="user.name" formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput autocomplete="off" [value]="user.email" formControlName="email" />
      </mat-form-field>
    </form>
  </mat-card-content>
</ng-template>

<ng-template #saveOrCancel>
  <button mat-raised-button color="primary" [disabled]="editProfilForm.invalid" (click)="save()">
    Sauvegarder
  </button>
  <button mat-button (click)="isEdit = false">
    Annuler
  </button>
</ng-template>
