
<div class="container">
  <mat-card>
    <mat-card-title>
      Structure de <span [style.color]="project.color">{{ project.label }}</span> valide a {{ (analyse?.percent ?? 0) | number: '2.2-2' }}%
    </mat-card-title>
    <mat-card-content>
      <ul>
        <li [class.clean]="analyse?.percent === 100" *ngFor="let message of analyse?.messages ?? []">
          {{ message }}
        </li>
      </ul>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar
          mode="buffer"
          color="accent"
          [value]="analyse?.percent ?? 0"
          [bufferValue]="analyse?.percent ?? 0">
      </mat-progress-bar>
    </mat-card-footer>
  </mat-card>

</div>
